@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary: #3d728f; /* Couleur principale */
  --secondary: #5f9aba; /* Couleur secondaire */
  --dark: #142131; /*Text*/
  --success: #2ec4b6; /* Call to action / validation */
  /* Génération automatique des nuances */
  --primary-50: rgb(235.6, 240.9, 243.8);
  --primary-100: rgb(216.2, 226.8, 232.6);
  --primary-200: rgb(177.4, 198.6, 210.2);
  --primary-300: rgb(138.6, 170.4, 187.8);
  --primary-400: rgb(99.8, 142.2, 165.4);
  --primary-500: #3d728f;
  --primary-600: rgb(48.8, 91.2, 114.4);
  --primary-700: rgb(36.6, 68.4, 85.8);
  --primary-800: rgb(24.4, 45.6, 57.2);
  --primary-900: rgb(12.2, 22.8, 28.6);
  --secondary-100: rgb(239, 244.9, 248.1);
  --secondary-100: rgb(223, 234.8, 241.2);
  --secondary-200: rgb(191, 214.6, 227.4);
  --secondary-300: rgb(159, 194.4, 213.6);
  --secondary-400: rgb(127, 174.2, 199.8);
  --secondary-500: #5f9aba;
  --secondary-600: rgb(76, 123.2, 148.8);
  --secondary-700: rgb(57, 92.4, 111.6);
  --secondary-800: rgb(38, 61.6, 74.4);
  --secondary-900: rgb(19, 30.8, 37.2);
  --success-100: rgb(234.1, 249.1, 247.7);
  --success-100: rgb(213.2, 243.2, 240.4);
  --success-200: rgb(171.4, 231.4, 225.8);
  --success-300: rgb(129.6, 219.6, 211.2);
  --success-400: rgb(87.8, 207.8, 196.6);
  --success-500: #2ec4b6;
  --success-600: rgb(36.8, 156.8, 145.6);
  --success-700: rgb(27.6, 117.6, 109.2);
  --success-800: rgb(18.4, 78.4, 72.8);
  --success-900: rgb(9.2, 39.2, 36.4);
  --dark-100: rgb(231.5, 232.8, 234.4);
  --dark-100: rgb(208, 210.6, 213.8);
  --dark-200: rgb(161, 166.2, 172.6);
  --dark-300: rgb(114, 121.8, 131.4);
  --dark-400: rgb(67, 77.4, 90.2);
  --dark-500: #142131;
  --dark-600: rgb(16, 26.4, 39.2);
  --dark-700: rgb(12, 19.8, 29.4);
  --dark-800: rgb(8, 13.2, 19.6);
  --dark-900: rgb(4, 6.6, 9.8);
}

body {
  color: var(--dark);
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

/* Génération des classes avec boucle */
.bg-primary {
  background-color: var(--primary);
}

.bg-primary-50 {
  background-color: var(--primary-50);
}

.hover\:bg-primary-50:hover {
  background-color: var(--primary-50);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.hover\:bg-primary-100:hover {
  background-color: var(--primary-100);
}

.bg-primary-150 {
  background-color: var(--primary-150);
}

.hover\:bg-primary-150:hover {
  background-color: var(--primary-150);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.hover\:bg-primary-200:hover {
  background-color: var(--primary-200);
}

.bg-primary-250 {
  background-color: var(--primary-250);
}

.hover\:bg-primary-250:hover {
  background-color: var(--primary-250);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.hover\:bg-primary-300:hover {
  background-color: var(--primary-300);
}

.bg-primary-350 {
  background-color: var(--primary-350);
}

.hover\:bg-primary-350:hover {
  background-color: var(--primary-350);
}

.bg-primary-400 {
  background-color: var(--primary-400);
}

.hover\:bg-primary-400:hover {
  background-color: var(--primary-400);
}

.bg-primary-450 {
  background-color: var(--primary-450);
}

.hover\:bg-primary-450:hover {
  background-color: var(--primary-450);
}

.bg-primary-500 {
  background-color: var(--primary-500);
}

.hover\:bg-primary-500:hover {
  background-color: var(--primary-500);
}

.bg-primary-550 {
  background-color: var(--primary-550);
}

.hover\:bg-primary-550:hover {
  background-color: var(--primary-550);
}

.bg-primary-600 {
  background-color: var(--primary-600);
}

.hover\:bg-primary-600:hover {
  background-color: var(--primary-600);
}

.bg-primary-650 {
  background-color: var(--primary-650);
}

.hover\:bg-primary-650:hover {
  background-color: var(--primary-650);
}

.bg-primary-700 {
  background-color: var(--primary-700);
}

.hover\:bg-primary-700:hover {
  background-color: var(--primary-700);
}

.bg-primary-750 {
  background-color: var(--primary-750);
}

.hover\:bg-primary-750:hover {
  background-color: var(--primary-750);
}

.bg-primary-800 {
  background-color: var(--primary-800);
}

.hover\:bg-primary-800:hover {
  background-color: var(--primary-800);
}

.bg-primary-850 {
  background-color: var(--primary-850);
}

.hover\:bg-primary-850:hover {
  background-color: var(--primary-850);
}

.bg-primary-900 {
  background-color: var(--primary-900);
}

.hover\:bg-primary-900:hover {
  background-color: var(--primary-900);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary-50 {
  background-color: var(--secondary-50);
}

.hover\:bg-secondary-50:hover {
  background-color: var(--secondary-50);
}

.bg-secondary-100 {
  background-color: var(--secondary-100);
}

.hover\:bg-secondary-100:hover {
  background-color: var(--secondary-100);
}

.bg-secondary-150 {
  background-color: var(--secondary-150);
}

.hover\:bg-secondary-150:hover {
  background-color: var(--secondary-150);
}

.bg-secondary-200 {
  background-color: var(--secondary-200);
}

.hover\:bg-secondary-200:hover {
  background-color: var(--secondary-200);
}

.bg-secondary-250 {
  background-color: var(--secondary-250);
}

.hover\:bg-secondary-250:hover {
  background-color: var(--secondary-250);
}

.bg-secondary-300 {
  background-color: var(--secondary-300);
}

.hover\:bg-secondary-300:hover {
  background-color: var(--secondary-300);
}

.bg-secondary-350 {
  background-color: var(--secondary-350);
}

.hover\:bg-secondary-350:hover {
  background-color: var(--secondary-350);
}

.bg-secondary-400 {
  background-color: var(--secondary-400);
}

.hover\:bg-secondary-400:hover {
  background-color: var(--secondary-400);
}

.bg-secondary-450 {
  background-color: var(--secondary-450);
}

.hover\:bg-secondary-450:hover {
  background-color: var(--secondary-450);
}

.bg-secondary-500 {
  background-color: var(--secondary-500);
}

.hover\:bg-secondary-500:hover {
  background-color: var(--secondary-500);
}

.bg-secondary-550 {
  background-color: var(--secondary-550);
}

.hover\:bg-secondary-550:hover {
  background-color: var(--secondary-550);
}

.bg-secondary-600 {
  background-color: var(--secondary-600);
}

.hover\:bg-secondary-600:hover {
  background-color: var(--secondary-600);
}

.bg-secondary-650 {
  background-color: var(--secondary-650);
}

.hover\:bg-secondary-650:hover {
  background-color: var(--secondary-650);
}

.bg-secondary-700 {
  background-color: var(--secondary-700);
}

.hover\:bg-secondary-700:hover {
  background-color: var(--secondary-700);
}

.bg-secondary-750 {
  background-color: var(--secondary-750);
}

.hover\:bg-secondary-750:hover {
  background-color: var(--secondary-750);
}

.bg-secondary-800 {
  background-color: var(--secondary-800);
}

.hover\:bg-secondary-800:hover {
  background-color: var(--secondary-800);
}

.bg-secondary-850 {
  background-color: var(--secondary-850);
}

.hover\:bg-secondary-850:hover {
  background-color: var(--secondary-850);
}

.bg-secondary-900 {
  background-color: var(--secondary-900);
}

.hover\:bg-secondary-900:hover {
  background-color: var(--secondary-900);
}

.bg-success {
  background-color: var(--success);
}

.bg-success-50 {
  background-color: var(--success-50);
}

.hover\:bg-success-50:hover {
  background-color: var(--success-50);
}

.bg-success-100 {
  background-color: var(--success-100);
}

.hover\:bg-success-100:hover {
  background-color: var(--success-100);
}

.bg-success-150 {
  background-color: var(--success-150);
}

.hover\:bg-success-150:hover {
  background-color: var(--success-150);
}

.bg-success-200 {
  background-color: var(--success-200);
}

.hover\:bg-success-200:hover {
  background-color: var(--success-200);
}

.bg-success-250 {
  background-color: var(--success-250);
}

.hover\:bg-success-250:hover {
  background-color: var(--success-250);
}

.bg-success-300 {
  background-color: var(--success-300);
}

.hover\:bg-success-300:hover {
  background-color: var(--success-300);
}

.bg-success-350 {
  background-color: var(--success-350);
}

.hover\:bg-success-350:hover {
  background-color: var(--success-350);
}

.bg-success-400 {
  background-color: var(--success-400);
}

.hover\:bg-success-400:hover {
  background-color: var(--success-400);
}

.bg-success-450 {
  background-color: var(--success-450);
}

.hover\:bg-success-450:hover {
  background-color: var(--success-450);
}

.bg-success-500 {
  background-color: var(--success-500);
}

.hover\:bg-success-500:hover {
  background-color: var(--success-500);
}

.bg-success-550 {
  background-color: var(--success-550);
}

.hover\:bg-success-550:hover {
  background-color: var(--success-550);
}

.bg-success-600 {
  background-color: var(--success-600);
}

.hover\:bg-success-600:hover {
  background-color: var(--success-600);
}

.bg-success-650 {
  background-color: var(--success-650);
}

.hover\:bg-success-650:hover {
  background-color: var(--success-650);
}

.bg-success-700 {
  background-color: var(--success-700);
}

.hover\:bg-success-700:hover {
  background-color: var(--success-700);
}

.bg-success-750 {
  background-color: var(--success-750);
}

.hover\:bg-success-750:hover {
  background-color: var(--success-750);
}

.bg-success-800 {
  background-color: var(--success-800);
}

.hover\:bg-success-800:hover {
  background-color: var(--success-800);
}

.bg-success-850 {
  background-color: var(--success-850);
}

.hover\:bg-success-850:hover {
  background-color: var(--success-850);
}

.bg-success-900 {
  background-color: var(--success-900);
}

.hover\:bg-success-900:hover {
  background-color: var(--success-900);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-dark-50 {
  background-color: var(--dark-50);
}

.hover\:bg-dark-50:hover {
  background-color: var(--dark-50);
}

.bg-dark-100 {
  background-color: var(--dark-100);
}

.hover\:bg-dark-100:hover {
  background-color: var(--dark-100);
}

.bg-dark-150 {
  background-color: var(--dark-150);
}

.hover\:bg-dark-150:hover {
  background-color: var(--dark-150);
}

.bg-dark-200 {
  background-color: var(--dark-200);
}

.hover\:bg-dark-200:hover {
  background-color: var(--dark-200);
}

.bg-dark-250 {
  background-color: var(--dark-250);
}

.hover\:bg-dark-250:hover {
  background-color: var(--dark-250);
}

.bg-dark-300 {
  background-color: var(--dark-300);
}

.hover\:bg-dark-300:hover {
  background-color: var(--dark-300);
}

.bg-dark-350 {
  background-color: var(--dark-350);
}

.hover\:bg-dark-350:hover {
  background-color: var(--dark-350);
}

.bg-dark-400 {
  background-color: var(--dark-400);
}

.hover\:bg-dark-400:hover {
  background-color: var(--dark-400);
}

.bg-dark-450 {
  background-color: var(--dark-450);
}

.hover\:bg-dark-450:hover {
  background-color: var(--dark-450);
}

.bg-dark-500 {
  background-color: var(--dark-500);
}

.hover\:bg-dark-500:hover {
  background-color: var(--dark-500);
}

.bg-dark-550 {
  background-color: var(--dark-550);
}

.hover\:bg-dark-550:hover {
  background-color: var(--dark-550);
}

.bg-dark-600 {
  background-color: var(--dark-600);
}

.hover\:bg-dark-600:hover {
  background-color: var(--dark-600);
}

.bg-dark-650 {
  background-color: var(--dark-650);
}

.hover\:bg-dark-650:hover {
  background-color: var(--dark-650);
}

.bg-dark-700 {
  background-color: var(--dark-700);
}

.hover\:bg-dark-700:hover {
  background-color: var(--dark-700);
}

.bg-dark-750 {
  background-color: var(--dark-750);
}

.hover\:bg-dark-750:hover {
  background-color: var(--dark-750);
}

.bg-dark-800 {
  background-color: var(--dark-800);
}

.hover\:bg-dark-800:hover {
  background-color: var(--dark-800);
}

.bg-dark-850 {
  background-color: var(--dark-850);
}

.hover\:bg-dark-850:hover {
  background-color: var(--dark-850);
}

.bg-dark-900 {
  background-color: var(--dark-900);
}

.hover\:bg-dark-900:hover {
  background-color: var(--dark-900);
}

.ring-primary-50 {
  box-shadow: 0 0 0 1px var(--primary-50);
}

.ring-primary-100 {
  box-shadow: 0 0 0 1px var(--primary-100);
}

.ring-primary-200 {
  box-shadow: 0 0 0 1px var(--primary-200);
}

.ring-primary-300 {
  box-shadow: 0 0 0 1px var(--primary-300);
}

.ring-primary-400 {
  box-shadow: 0 0 0 1px var(--primary-400);
}

.ring-primary-500 {
  box-shadow: 0 0 0 1px var(--primary-500);
}

.ring-primary-600 {
  box-shadow: 0 0 0 1px var(--primary-600);
}

.ring-primary-700 {
  box-shadow: 0 0 0 1px var(--primary-700);
}

.ring-primary-800 {
  box-shadow: 0 0 0 1px var(--primary-800);
}

.ring-primary-900 {
  box-shadow: 0 0 0 1px var(--primary-900);
}

.ring-secondary-50 {
  box-shadow: 0 0 0 1px var(--secondary-50);
}

.ring-secondary-100 {
  box-shadow: 0 0 0 1px var(--secondary-100);
}

.ring-secondary-200 {
  box-shadow: 0 0 0 1px var(--secondary-200);
}

.ring-secondary-300 {
  box-shadow: 0 0 0 1px var(--secondary-300);
}

.ring-secondary-400 {
  box-shadow: 0 0 0 1px var(--secondary-400);
}

.ring-secondary-500 {
  box-shadow: 0 0 0 1px var(--secondary-500);
}

.ring-secondary-600 {
  box-shadow: 0 0 0 1px var(--secondary-600);
}

.ring-secondary-700 {
  box-shadow: 0 0 0 1px var(--secondary-700);
}

.ring-secondary-800 {
  box-shadow: 0 0 0 1px var(--secondary-800);
}

.ring-secondary-900 {
  box-shadow: 0 0 0 1px var(--secondary-900);
}

.ring-dark-50 {
  box-shadow: 0 0 0 1px var(--dark-50);
}

.ring-dark-100 {
  box-shadow: 0 0 0 1px var(--dark-100);
}

.ring-dark-200 {
  box-shadow: 0 0 0 1px var(--dark-200);
}

.ring-dark-300 {
  box-shadow: 0 0 0 1px var(--dark-300);
}

.ring-dark-400 {
  box-shadow: 0 0 0 1px var(--dark-400);
}

.ring-dark-500 {
  box-shadow: 0 0 0 1px var(--dark-500);
}

.ring-dark-600 {
  box-shadow: 0 0 0 1px var(--dark-600);
}

.ring-dark-700 {
  box-shadow: 0 0 0 1px var(--dark-700);
}

.ring-dark-800 {
  box-shadow: 0 0 0 1px var(--dark-800);
}

.ring-dark-900 {
  box-shadow: 0 0 0 1px var(--dark-900);
}

.ring-success-50 {
  box-shadow: 0 0 0 1px var(--success-50);
}

.ring-success-100 {
  box-shadow: 0 0 0 1px var(--success-100);
}

.ring-success-200 {
  box-shadow: 0 0 0 1px var(--success-200);
}

.ring-success-300 {
  box-shadow: 0 0 0 1px var(--success-300);
}

.ring-success-400 {
  box-shadow: 0 0 0 1px var(--success-400);
}

.ring-success-500 {
  box-shadow: 0 0 0 1px var(--success-500);
}

.ring-success-600 {
  box-shadow: 0 0 0 1px var(--success-600);
}

.ring-success-700 {
  box-shadow: 0 0 0 1px var(--success-700);
}

.ring-success-800 {
  box-shadow: 0 0 0 1px var(--success-800);
}

.ring-success-900 {
  box-shadow: 0 0 0 1px var(--success-900);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-success {
  color: var(--success);
}

.text-dark {
  color: var(--dark);
}

.bg-primary {
  background-color: var(--primary);
}

.bg--secondary {
  background-color: var(--secondary);
}

.bg--success {
  background-color: var(--success);
}

/*# sourceMappingURL=main.css.map */
