version: '3.8'
services:
  postgres:
    image: postgres:17.2-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=fleetlens_user
      - POSTGRES_PASSWORD=fleetlens_password
      - POSTGRES_DB=db_fleetlens
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgres
  app-fleetlens:
    container_name: app-fleetlens
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/db_fleetlens
      - DATASOURCE_USERNAME=fleetlens_user
      - DATASOURCE_PASSWORD=fleetlens_password
      - ADMIN_LASTNAME=ADMIN
      - ADMIN_FIRSTNAME=Admin
      - ADMIN_EMAIL=admin@admin.fr
      - ADMIN_PASSWORD=admin
    depends_on:
      - postgres
    networks:
      - fleetlens-network
volumes:
  postgres_data:
networks:
  fleetlens-network:
    driver: bridge