<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout}">
<div th:fragment="content">

    <div class="flex w-full p-3 h-16 bg-white sticky top-0 border-b border-gray items-center" >
        <a href="/accounts" title="Back to list" class="flex items-center justify-center w-9 h-9 bg-gray-300 text-black rounded-full ml-2 hover:bg-gray-400 mr-3">
            <span class="fal fa-arrow-left"></span>
        </a>
        <h1 class="text-2xl font-bold mr-3">Account Details</h1>
        <span class="inline-flex items-center rounded-md bg-primary-50 px-2 font-medium text-primary ring-1 ring-primary-300 ring-inset"> <span class="mr-1">ID : </span>  <strong th:text="${account.id}"></strong></span>
        <span class="inline-flex items-center rounded-md bg-primary-50 px-2 font-medium text-primary ring-1 ring-primary-300 ring-inset mx-2"> <span class="mr-1"> Username :  </span><strong th:text="${account.username}"></strong></span>

    </div>
    <div class="p-4">
    <div class=" p-6 bg-white shadow-md rounded">
        <!-- Machines Section -->
        <div class="space-y-6">
            <h3 class="text-xl font-semibold"><span class="fal fa-laptop"></span> Machines</h3>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Hostname
                    </th>
                    <th scope="col" class="px-6 py-3">
                        System Groups
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"  th:each="machine : ${account.machines}">
                    <th scope="row" class="px-6 py-4 font-medium text-dark whitespace-nowrap dark:text-white" th:text="${machine.hostname}">
                    </th>
                    <td class="px-6 py-4">
                        <span th:each="group : ${machine.systemGroups}" class="inline-flex items-center rounded-full bg-primary px-2 font-medium text-white mr-2"><span th:text="${group}"></span></span>

                    </td>

                </tr>

                </tbody>
            </table>

        </div>

    </div>
    </div>
</div>
</html>