<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="bg-white border-b border-gray py-3 px-4 h-16 flex justify-end items-center">
    <div class="flex items-center space-x-4">
        <!-- User Profile Link -->
        <a th:href="@{/profile}" class="flex items-center space-x-2 hover:text-blue-500">
            <span class="fal fa-user"></span>
            <span th:text="${currentUser?.username ?: 'My profile'}">My profile</span>
        </a>


        <!-- Logout Button -->
        <form th:action="@{/logout}" method="post" class="inline">
            <button title="Déconnexion" type="button" class="w-9 h-9 bg-gray-800 rounded-full flex items-center justify-center text-white hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-300">
                <span class="fal fa-sign-out"></span>
            </button>
        </form>
    </div>
</header>
</body>
</html>
