<!--Objectif : Afficher tous les logiciels installés et les machines concernées.-->

<!--Contenu :-->
<!--Filtres :-->

<!--Recherche par nom de logiciel.-->
<!--Filtrer par version.-->
<!--Machines concernées (dropdown pour choisir une machine spécifique).-->
<!--Tableau des logiciels :-->

<!--Nom du logiciel.-->
<!--Version.-->
<!--Nombre de machines sur lesquelles il est installé.-->
<!--Bouton "Voir Détails" pour :-->
<!--Voir les machines avec ce logiciel.-->
<!--Consulter les éventuelles CVE associées au logiciel.-->