<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout}">
<div th:fragment="content">

    <div class="flex w-full p-3 h-16 bg-white sticky top-0 border-b border-gray items-center" >
        <h1 class="text-2xl font-bold" th:text="#{dashboard}"></h1>
    </div>
    <div class="p-4">

        <!-- Overview Stats -->
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div class="bg-white p-4 rounded shadow">
                <h3 class="font-semibold">Total Machines</h3>
                <p class="text-xl" th:text="${totalMachines}">0</p>
            </div>
            <div class="bg-white p-4 rounded shadow">
                <h3 class="font-semibold">Total accounts</h3>
                <p class="text-xl" th:text="${totalAccounts}">0</p>
            </div>
        </div>

        <!-- Charts Section -->
        <div class="grid grid-cols-2 gap-6">
            <!-- OS Distribution Pie Chart -->
            <div class="bg-white p-4 rounded shadow">
                <h3 class="font-semibold mb-4">OS Distribution</h3>
                <canvas id="osChart"></canvas>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            // OS Distribution Chart
            var osCtx = document.getElementById('osChart').getContext('2d');
            var osLabels = /*[[${osDistribution.keySet()}]]*/ [];
            var osData = /*[[${osDistribution.values()}]]*/ [];
            new Chart(osCtx, {
                type: 'pie',
                data: {
                    labels: osLabels,
                    datasets: [{
                        data: osData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)'
                        ]
                    }]
                }
            });
        });
    </script>
</div>
</html>