:root {
  --primary: #3d728f; /* Couleur principale */
  --secondary: #5f9aba; /* Couleur secondaire */
  --dark: #142131; /*Text*/
  --success: #2ec4b6; /* Call to action / validation */
    /* Génération automatique des nuances */
    --primary-50: #{mix(#fff, #3d728f, 90%)};
    --primary-100: #{mix(#fff, #3d728f, 80%)};
    --primary-200: #{mix(#fff, #3d728f, 60%)};
    --primary-300: #{mix(#fff, #3d728f, 40%)};
    --primary-400: #{mix(#fff, #3d728f, 20%)};
    --primary-500: #3d728f;
    --primary-600: #{mix(#000, #3d728f, 20%)};
    --primary-700: #{mix(#000, #3d728f, 40%)};
    --primary-800: #{mix(#000, #3d728f, 60%)};
    --primary-900: #{mix(#000, #3d728f, 80%)};

    --secondary-100: #{mix(#fff, #5f9aba, 90%)};
    --secondary-100: #{mix(#fff, #5f9aba, 80%)};
    --secondary-200: #{mix(#fff, #5f9aba, 60%)};
    --secondary-300: #{mix(#fff, #5f9aba, 40%)};
    --secondary-400: #{mix(#fff, #5f9aba, 20%)};
    --secondary-500: #5f9aba;
    --secondary-600: #{mix(#000, #5f9aba, 20%)};
    --secondary-700: #{mix(#000, #5f9aba, 40%)};
    --secondary-800: #{mix(#000, #5f9aba, 60%)};
    --secondary-900: #{mix(#000, #5f9aba, 80%)};

    --success-100: #{mix(#fff, #2ec4b6, 90%)};
    --success-100: #{mix(#fff, #2ec4b6, 80%)};
    --success-200: #{mix(#fff, #2ec4b6, 60%)};
    --success-300: #{mix(#fff, #2ec4b6, 40%)};
    --success-400: #{mix(#fff, #2ec4b6, 20%)};
    --success-500: #2ec4b6;
    --success-600: #{mix(#000, #2ec4b6, 20%)};
    --success-700: #{mix(#000, #2ec4b6, 40%)};
    --success-800: #{mix(#000, #2ec4b6, 60%)};
    --success-900: #{mix(#000, #2ec4b6, 80%)};

    --dark-100: #{mix(#fff, #142131, 90%)};
    --dark-100: #{mix(#fff, #142131, 80%)};
    --dark-200: #{mix(#fff, #142131, 60%)};
    --dark-300: #{mix(#fff, #142131, 40%)};
    --dark-400: #{mix(#fff, #142131, 20%)};
    --dark-500: #142131;
    --dark-600: #{mix(#000, #142131, 20%)};
    --dark-700: #{mix(#000, #142131, 40%)};
    --dark-800: #{mix(#000, #142131, 60%)};
    --dark-900: #{mix(#000, #142131, 80%)};
}
$colors: primary, secondary, dark, success;
$shades: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  color: var(--dark);
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}
/* Génération des classes avec boucle */
@each $color in primary, secondary, success, dark {
  .bg-#{$color} {
    background-color: var(--#{$color});
  }

  @for $i from 50 through 900 {
    @if $i % 50 == 0 {
      .bg-#{$color}-#{$i} {
        background-color: var(--#{$color}-#{$i});
      }
      .hover\:bg-#{$color}-#{$i}:hover {
        background-color: var(--#{$color}-#{$i});
      }
    }
  }
}
@each $color in $colors {
  @each $shade in $shades {
    .ring-#{$color}-#{$shade} {
      box-shadow: 0 0 0 1px var(--#{$color}-#{$shade});
    }
  }
}
.text-primary{
  color: var(--primary);
}
.text-secondary{
  color: var(--secondary);
}
.text-success{
  color: var(--success);
}
.text-dark{
    color:var(--dark);
}
.bg-primary{
  background-color: var(--primary);
}
.bg--secondary{
  background-color: var(--secondary);
}
.bg--success{
  background-color: var(--success);
}